body{
    text-align: center;
    font-size: 50px;
}

select{
    text-align: center;
    font-size: 30px;
}

input{
    text-align: center;
    font-size: 30px;
}

label{
    font-size: 30px;
}

img{
    display: none;
    width: 500px;
    height: 300px;
}